pytest~=8.3.0
pytest-cov~=5.0.0
hdx-python-api~=6.6.8
requests~=2.32.0
python-json-logger~=2.0.7
git+https://github.com/OCHA-DAP/hdx-redis-lib.git@0.3.2
geopandas~=1.0.1
Fiona~=1.10.1
pandas~=2.2.3
Shapely~=2.0.6
slack_sdk~=3.33.5
